@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.App {
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
}

body{
    background: #F1EADC;
}

.rating-button {
    @apply flex-grow bg-neutral-50 text-center p-2 rounded-md cursor-pointer select-none
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    font-size: 2rem;
    margin-bottom: 0;
}