@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#root,
.App {
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
}

body{
    background: #F1EADC;
}

  
  .group:hover {
    border-color: rgba(143, 143, 143, 0.5);
  }
  
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05) rotateZ(2deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
