@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }
}

.Poppins {
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .primary-btn {
    @apply block;
  }
  .page-shadow {
    @apply shadow-[inset_0_0_8px_rgba(0,0,0,0.6),12px_12px_14px_rgba(0,0,0,0.9)];
  }
}

/* ------- THIS IS WILL REMOVE THE EMPTY SPACE THAT IS BEING CREATED ON THE EXTREME RIGHT SIDE OF THE WEBSITE ------- */
/* *::-webkit-scrollbar {
  display: none;
} */
/* ------------------------------------------------------------------------------------------------------------------  */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: beige;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #004d43;
  border-radius: 10px;
}
:root {
  --transition-duration: 500ms;
}

/* Enable dark mode */
html.dark {
  background-color: #1a202c; /* Dark slate background */
  color: #f0e7db; /* Light text */
}