@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   
    body {
        background-color: white; 
        color: black; 
    }
    .dark {
        background-color: #1a1a1a; 
        color: white; 
    }
    .dark .text-primary-foreground {
        color: #f9fafb; 
    }
    .dark .bg-card {
        background-color: #374151; 
        color: #f9fafb; 
    }
    .dark .border-input {
        border-color: #4b5563;
    }
    .dark .text-muted-foreground {
        color: #9ca3af; 
    }
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: beige; 
    border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #000; 
}
